<html>
<body style="background: aquamarine" (keydown.enter)="logIn()">
<a class="btn btn-primary" routerLink="/evaluation">Back</a>
<div>
  <div>
    <h1 class="text-center">Admin Login</h1>
  </div>
  <div>
    <br><br>
    <div class="container text-center">
      <label class="textoInput">Username
        <br>
        <input type="text" placeholder="Username" name="username" [(ngModel)]="username">
      </label>
      <br><br>
      <label class="textoInput">Password
        <br>
        <input class="pass" type="password" placeholder="Password" name="pass" [(ngModel)]="password">
      </label>
      <br>
      <i style="color: #de354c; font-family: Arial; padding-bottom: 5px" *ngIf="error">Username or password are wrong</i>
      <br *ngIf="error">
      <i style="color: #de354c; font-family: Arial; padding-bottom: 5px" *ngIf="emptyError">Username and password can't be empty</i>
      <br *ngIf="emptyError">
      <br>
      <button class="btn btn-primary" (click)="backToEvaluation()">Back</button>
      <button class="btn btn-primary" style="margin-left: 20px" type="submit" (click)="logIn()">Log in</button>
      <br>
      <br>
    </div>
  </div>
</div>
</body>
</html>
