<!DOCTYPE html>
<html>
<body style="background: aquamarine">
<form>
  <div class="container">
    <h1 class="text-center">Metadata evaluation</h1>
    <div class="row">
      <div class="col-3" style="background: red">asdasd</div>
      <div class="col-6" style="background: green"><h2>Methods</h2>
        <input type="text" #texto>
        <button type="button"  class="btn btn-primary" (click)="getForm(mqa, iso19157, sparql, ckan, nti, dcat_ap, direct, local, texto)">Evaluate</button>

        <br>
        <input type="checkbox" name="methods" id="MQA" #mqa>
        <label for="MQA">MQA</label><br>
        <input type="checkbox" name="methods" id="ISO19157" #iso19157>
        <label for="ISO19157">ISO19157</label>
        <br>

        <h2>Endpoint</h2>
        <input type="radio" name="endpoint" id="SPARQL" #sparql>
        <label for="SPARQL">SPARQL</label><br>
        <input type="radio" name="endpoint" id="CKAN" #ckan>
        <label for="CKAN">CKAN</label>
        <br>

        <h2>Metadata model</h2>
        <input type="radio" name="metadata_model" id="NTI (Spain)" #nti>
        <label for="NTI (Spain)">NTI (Spain)</label><br>
        <input type="radio" name="metadata_model" id="DCAT-AP" #dcat_ap>
        <label for="DCAT-AP">DCAT-AP</label>
        <br>

        <h2>Evaluation type</h2>
        <input type="radio" name="evaluation_type" id="direct" #direct>
        <label for="direct">direct</label><br>
        <input type="radio" name="evaluation_type" id="local" #local>
        <label for="local">local</label>
        <br></div>
      <div class="col-3" style="background: blue">aAA</div>



    </div>
  </div>
  <br>
  <br>
</form>
</body>
</html>
