#rectangle-green{
  width:30px;
  height:15px;
  background:green;
}
#rectangle-red{
  width:30px;
  height:15px;
  background:red;
}

.marginButtons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
