<!DOCTYPE html>
<html>
<body style="background: #A4BE7B">
<div class="marginButtons">
  <a class="btn btn-primary" routerLink="/results">Back</a>
  <a class="btn btn-primary" routerLink="/results">Export data</a>
</div>
<div>
  <br>
  <p>Data from <b>{{URL}}</b>, with date <b>{{date}}</b> and method <b>{{method}}</b></p>
  <br>
  <div *ngIf="method != 'MQA'">
    <div id="rectangle-green"></div><p>Pass</p>
    <div id="rectangle-red"></div><p>No Pass</p>
  </div>
  <canvas  id="MyChart" >{{ chart }}</canvas>
  <br>
</div>
</body>
</html>
